Repository AY2223S1-CS2103T-T12-4/tp, pull requests merged in 2022-11, with the labels that each got.

#369 Fix UI overflow
  src/main/java/seedu/uninurse/ui/ModifiedPatientCard.java
  src/main/java/seedu/uninurse/ui/RedoCard.java
  src/main/java/seedu/uninurse/ui/ScheduleListPanel.java
  src/main/java/seedu/uninurse/ui/ScheduleListTaskCard.java
  src/main/java/seedu/uninurse/ui/TaskListCard.java
  src/main/java/seedu/uninurse/ui/TaskListPanel.java
  src/main/java/seedu/uninurse/ui/TruncatedPersonListCard.java
  src/main/java/seedu/uninurse/ui/TruncatedTaskListCard.java
  src/main/java/seedu/uninurse/ui/TruncatedTaskListPanel.java
  src/main/java/seedu/uninurse/ui/UndoCard.java
  src/main/java/seedu/uninurse/ui/UpdatedPatientCard.java
  src/main/java/seedu/uninurse/ui/UpdatedPersonListPanel.java
  src/main/resources/view/CommandBox.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/ModifiedPatientCard.fxml
  src/main/resources/view/OutputPanel.fxml
  src/main/resources/view/PersonListCard.fxml
  src/main/resources/view/ResultDisplay.fxml
  src/main/resources/view/ScheduleListCard.fxml
  src/main/resources/view/ScheduleListPanel.fxml
  src/main/resources/view/ScheduleListTaskCard.fxml
  src/main/resources/view/TaskListCard.fxml
  src/main/resources/view/TaskListPanel.fxml
  src/main/resources/view/Theme.css
  src/main/resources/view/TruncatedPersonListCard.fxml
  src/main/resources/view/TruncatedTaskListCard.fxml
  src/main/resources/view/TruncatedTaskListPanel.fxml
  src/main/resources/view/UpdatedPatientCard.fxml
  src/main/resources/view/UpdatedPersonListPanel.fxml
Labels: type.Bug, type.Gui

#368 Fix recurrence time equality check for singular-plural form
  src/main/java/seedu/uninurse/model/task/RecurringTask.java
Labels: type.Bug

#376 Improve `find` command documentation in User Guide
  docs/UserGuide.md
Labels: type.Docs

#375 Add more details on `undo`/`redo` command message
  src/main/java/seedu/uninurse/logic/LogicManager.java
  src/main/java/seedu/uninurse/logic/commands/AddConditionCommand.java
  src/main/java/seedu/uninurse/logic/commands/AddMedicationCommand.java
  src/main/java/seedu/uninurse/logic/commands/AddPatientCommand.java
  src/main/java/seedu/uninurse/logic/commands/AddRemarkCommand.java
  src/main/java/seedu/uninurse/logic/commands/AddTagCommand.java
  src/main/java/seedu/uninurse/logic/commands/AddTaskCommand.java
  src/main/java/seedu/uninurse/logic/commands/ClearCommand.java
  src/main/java/seedu/uninurse/logic/commands/CommandResult.java
  src/main/java/seedu/uninurse/logic/commands/DeleteConditionCommand.java
  src/main/java/seedu/uninurse/logic/commands/DeleteMedicationCommand.java
  src/main/java/seedu/uninurse/logic/commands/DeletePatientCommand.java
  src/main/java/seedu/uninurse/logic/commands/DeleteRemarkCommand.java
  src/main/java/seedu/uninurse/logic/commands/DeleteTagCommand.java
  src/main/java/seedu/uninurse/logic/commands/DeleteTaskCommand.java
  src/main/java/seedu/uninurse/logic/commands/DisplayTasksGenericCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditConditionCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditMedicationCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditPatientCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditRemarkCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditTagCommand.java
  src/main/java/seedu/uninurse/logic/commands/EditTaskCommand.java
  src/main/java/seedu/uninurse/logic/commands/RedoCommand.java
  src/main/java/seedu/uninurse/logic/commands/UndoCommand.java
  src/main/java/seedu/uninurse/model/Model.java
  src/main/java/seedu/uninurse/model/ModelManager.java
  src/main/java/seedu/uninurse/model/PersistentUninurseBook.java
  src/main/java/seedu/uninurse/model/UninurseBookSnapshot.java
  src/test/java/seedu/uninurse/logic/commands/AddPatientCommandTest.java
Labels: priority.High

#382 Update rama-pang's PPP
  docs/team/rama-pang.md
Labels: type.Docs

#378 Updated Ramanathan Kumarappan's PPP
  docs/team/ramanathan0908.md
Labels: type.Docs

#388 Update 'Izzah's PPP draft
  docs/team/izzahaj.md
  src/main/java/seedu/uninurse/logic/commands/CommandResult.java
Labels: type.Docs

#393 Update junjie's draft PPP
  docs/team/blopapple.md
Labels: type.Docs

#396 Update Shaugn's PPP and DG
  docs/DeveloperGuide.md
  docs/team/shogun187.md
Labels: type.Docs

#379 Fixed class diagrams for Model and Storage
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/StorageClassDiagram.puml
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
Labels: type.Docs

#385 Update UI component in DG
  docs/DeveloperGuide.md
  docs/diagrams/OutputPanelClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/images/OutputPanelClassDiagram.png
  docs/images/UiClassDiagram.png
Labels: type.Docs

#402 Update view commands in UG
  docs/UserGuide.md
  docs/images/viewAllTaskResult.png
  docs/images/viewBerniceTaskResult.png
  docs/images/viewSpecificDayResult.png
  docs/images/viewTodayResult.png
Labels: type.Docs

#415 Update find use case in DG, email and task in parameter section of UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.Docs

#380 Add multi-valued attributes command details to UG
  docs/UserGuide.md
Labels: type.Docs

#425 Update manual testing
  docs/DeveloperGuide.md
Labels: type.Docs

#432 Remove CommandResult from Model class diagram
  docs/diagrams/ModelClassDiagram.puml
  docs/images/ModelClassDiagram.png
Labels: type.Docs

#434 Fix parser for `focus`, `view -p -all`, `find` commands
  src/main/java/seedu/uninurse/logic/commands/FindCommand.java
  src/main/java/seedu/uninurse/logic/parser/DisplayTasksGenericCommandParser.java
  src/main/java/seedu/uninurse/logic/parser/FindCommandParser.java
  src/main/java/seedu/uninurse/logic/parser/ViewPatientCommandParser.java
  src/test/java/seedu/uninurse/logic/parser/ViewPatientCommandParserTest.java
Labels: type.Bug

#441 Update saving data in manual testing
  docs/DeveloperGuide.md
Labels: type.Docs

#443 Update OutputPanelClassDiagram and DG UI table formatting
  docs/DeveloperGuide.md
  docs/diagrams/OutputPanelClassDiagram.puml
  docs/images/OutputPanelClassDiagram.png
Labels: type.Docs

#442 Fix UG inconsistencies
  docs/UserGuide.md
Labels: type.Bug, type.Docs

#447 Add overdue recurring task behavior and duplicate task criteria to UG
  docs/UserGuide.md
Labels: type.Docs

#451 Fix inconsistencies in manual testing section
  docs/DeveloperGuide.md
Labels: type.Docs

#455 Update 'Izzah's PPP
  docs/team/izzahaj.md
Labels: type.Docs
